.tweeter-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  background-color: #f4f1ec;
  border-radius: 10px;
}

.label {
  display: block;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-top: 20px;
}

#tweet-text {
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  resize: none;
  max-width: 600px;
  width: 100%;
  background-color: #f4f1ec;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  background-color: #f4f1ec;
}

.new-tweet button:hover {
  background-color: #344581;
}

.btn-submit {
  font-family: "bungee", sans-serif;
  background-color: #4056A1;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.counter {
  font-family: "bungee", sans-serif;
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

.tweeter-form div.btn-container .over-char-limit {
  color: red;
}

#error-message {
  display: none;
  background-color: white;
  color: red;
  border: 1px solid red;

}

#error-message.show {
  display: block;
}